node_modules
/__pycache__
vosk-model-en-us-0.42-gigaspeech/rnnlm/word_feats.txt
vosk-model-en-us-0.42-gigaspeech/rnnlm/special_symbol_opts.txt
vosk-model-en-us-0.42-gigaspeech/rnnlm/special_symbol_opts.conf
vosk-model-en-us-0.42-gigaspeech/rnnlm/final.raw
vosk-model-en-us-0.42-gigaspeech/rnnlm/feat_embedding.final.mat
vosk-model-en-us-0.42-gigaspeech/rescore/G.fst
vosk-model-en-us-0.42-gigaspeech/rescore/G.carpa
vosk-model-en-us-0.42-gigaspeech/README
vosk-model-en-us-0.42-gigaspeech/ivector/splice_opts
vosk-model-en-us-0.42-gigaspeech/ivector/splice.conf
vosk-model-en-us-0.42-gigaspeech/ivector/online_cmvn.conf
vosk-model-en-us-0.42-gigaspeech/ivector/global_cmvn.stats
vosk-model-en-us-0.42-gigaspeech/ivector/final.mat
vosk-model-en-us-0.42-gigaspeech/ivector/final.ie
vosk-model-en-us-0.42-gigaspeech/ivector/final.dubm
vosk-model-en-us-0.42-gigaspeech/graph/words.txt
vosk-model-en-us-0.42-gigaspeech/graph/phones/word_boundary.txt
vosk-model-en-us-0.42-gigaspeech/graph/phones/word_boundary.int
vosk-model-en-us-0.42-gigaspeech/graph/phones/silence.csl
vosk-model-en-us-0.42-gigaspeech/graph/phones/optional_silence.txt
vosk-model-en-us-0.42-gigaspeech/graph/phones/optional_silence.int
vosk-model-en-us-0.42-gigaspeech/graph/phones/optional_silence.csl
vosk-model-en-us-0.42-gigaspeech/graph/phones/disambig.txt
vosk-model-en-us-0.42-gigaspeech/graph/phones/disambig.int
vosk-model-en-us-0.42-gigaspeech/graph/phones/align_lexicon.txt
vosk-model-en-us-0.42-gigaspeech/graph/phones/align_lexicon.int
vosk-model-en-us-0.42-gigaspeech/graph/phones.txt
vosk-model-en-us-0.42-gigaspeech/graph/num_pdfs
vosk-model-en-us-0.42-gigaspeech/graph/HCLG.fst
vosk-model-en-us-0.42-gigaspeech/graph/disambig_tid.int
vosk-model-en-us-0.42-gigaspeech/conf/model.conf
vosk-model-en-us-0.42-gigaspeech/conf/mfcc.conf
vosk-model-en-us-0.42-gigaspeech/conf/ivector.conf
vosk-model-en-us-0.42-gigaspeech/am/tree
vosk-model-en-us-0.42-gigaspeech/am/phones.txt
vosk-model-en-us-0.42-gigaspeech/am/frame_subsampling_factor
vosk-model-en-us-0.42-gigaspeech/am/final.mdl
vosk-model-en-us-0.42-gigaspeech/am/cmvn_opts
vosk-model-en-us-0.42-gigaspeech.zip
